[submodule "lib/ADL"]
	path = lib/ADL
	url = http://git.thesoftwarefactory.be/pub/ADL.git
[submodule "lib/ProtoJS"]
	path = lib/ProtoJS
	url = http://git.thesoftwarefactory.be/pub/ProtoJS.git
[submodule "lib/common.make"]
	path = lib/common.make
	url = http://git.thesoftwarefactory.be/pub/common.make.git
