[submodule "lib/ProtoJS"]
	path = lib/ProtoJS
	url = git://github.com/christophevg/ProtoJS.git
[submodule "lib/common.make"]
	path = lib/common.make
	url = git://github.com/christophevg/common.make.git
[submodule "lib/ADL"]
	path = lib/ADL
	url = git://github.com/christophevg/ADL.git
