HTML, BODY {
  margin: 0px;
  border: 0px;
  overflow: hidden;
  font-family: 'Lucida Grande';
  font-size: 11px;
}

.pane {
  background-color: #ddd;
  padding: 10px;
}

.header {
  height: 25px;
  font-size: 16pt;
  padding-bottom: 0px;
}

.left {
  float: left;
  width: 260px;
}

.right {
  margin-left: 280px;
  padding-left: 0px;
}

.top {
}

.bottom {
  margin-top: 10px;
}

.content {
  width: 100%;
  background-color: white;
  border: 1px solid #777;
}

.content UL {
  padding-left: 10px;
  list-style-type: none;
}

.content.bottom TEXTAREA {
  padding: 0px;
  width: 100%;
  border: none;
  height: 140px;
}