canvas {
    border: 2px solid #ccc;
}

.Canvas2D-about {
  overflow: auto;
}

.Canvas2D-about-text {
  font: 9pt Verdana, sans-serif;
}

.Canvas2D-console {
  border: 2px solid #ccc;
  overflow: auto;
}

.Canvas2D-source {
  border: 2px solid #ccc;
  overflow: auto;
}

.Canvas2D-container {
  margin-left: 10px;
  margin-right: 10px;
}
